.map-location {
    position: relative;
    &__icon {
        position: absolute;
        top: -50px;
        z-index: 99;
        left: 50%;
        transform: translateX(-50%);
        &::before {
            content: "";
            position: absolute;
            display: block;
            height: 3px;
            width: 500px;
            background-color: $teal;
            left: -210.5%;
            bottom: 50%;
            z-index: -1;

            @include mobile {
                width: 300px;
                left: -106.25%;
            }
        }
    }

}