@mixin clearFix {
  &::after{
      content: "";
      clear: both;
      display: table;
  }
}

@mixin small-desktop {
    @media screen and (max-width: 1086px) {
      @content;
    }
  }
  
@mixin tablet {
    @media screen and (max-width: 768px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media screen and (max-width: 560px) {
      @content;
    }
  }

  @mixin atLarge {
    @media screen and (min-width: 1086px) {
      @content;
    }
  }
  
@mixin atMedium {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  
  @mixin atSmall {
    @media screen and (min-width: 560px) {
      @content;
    }
  }