@import'media-queries';
@import'colors';

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    height: 80px;
    padding: 0.5rem calc((100vw - 1170px) / 2);
    background-image: linear-gradient(320deg, #fd6b17 60%, white 65%);

    &__logo {
        // display: flex;
        position: absolute;
        top: 0;
        text-decoration: none;
        overflow: hidden;

        img {
            margin: 0 20px;
            border-radius: 0 0 5px 5px;

        }
    }

    &__logo-text {
        float: right;
        // margin-left: 20px;
        margin-top: 15px;
        line-height: 1.3;
        color:$teal;
        font-weight: 700;
    }

    ul {
        list-style: none;
        // display: inline;
        // margin-top: -1.25rem;
    }

    ul li {
        display: inline;
    }

    ul a {
        text-decoration: none;
        color: white;
        font-weight: 800;
    }
}

.navbar-menu {
    // @include mobile {
    //     display: none;
    // }

    @include tablet {
        display: none;
    }

    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    margin-top: 12px;
    
    &__links {
        // display: flex;
        justify-content: center;
        padding: 10px 10px;
        text-transform: uppercase;

        &--selected {
            background-color: rgba($color: #FFF, $alpha: 0.2);
            border-radius: 20px;
        }
    }

}

.navbar-menu--visible {
    // z-index: 9;
    @include tablet {
        display: block;
        background-color: $teal;
        margin-top: 72px;
        height: 220px;
        width: 100%;
        transition: all 0.3s ease-out;

        ul {
            margin-top: 10px;
            // margin-bottom: 10px;
            display: inline;
        }

        ul li {
            display: list-item;
            text-align: center;
            line-height: 2.25rem;
        }
    }
}



.dropdown {
    display: inline-block;
    // height: 39px;
}

.dropbtn {
    height: 39px;
    line-height: 20px;
}
/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    // font-size: 17px;
    font-weight: 800;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    // padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 20px;
    background-color: $orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    @include tablet {
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: $teal;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
    @include tablet {
        text-align: center;
        line-height: 1.2rem;
    }
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgba($color: #FFF, $alpha: 0.2);
    border-radius: 20px;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    border-radius: 20px;
    background-color: $grey;
    color: $teal;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
//   @media screen and (max-width: 600px) {
//     .topnav a:not(:first-child), .dropdown .dropbtn {
    //       display: none;
    //     }
    //     .topnav a.icon {
        //       float: right;
        //       display: block;
        //     }
        //   }
        
        /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
        //   @media screen and (max-width: 600px) {
            //     .topnav.responsive {position: relative;}
            //     .topnav.responsive a.icon {
                //       position: absolute;
                //       right: 0;
                //       top: 0;
                //     }
                //     .topnav.responsive a {
                    //       float: none;
                    //       display: block;
                    //       text-align: left;
                    //     }
                    //     .topnav.responsive .dropdown {float: none;}
                    //     .topnav.responsive .dropdown-content {position: relative;}
                    //     .topnav.responsive .dropdown .dropbtn {
                        //       display: block;
                        //       width: 100%;
                        //       text-align: left;
                        //     }
                        //   }
