.our-training {
    // position: relative;
    padding-top: 0;

    @include mobile {
        text-align: center;
    }

    &__subtitle {
        // display: inline-block;
        text-align: center;
        margin-bottom: 5rem;
        padding: 0.5rem 1rem;
        outline: $grey 1px solid;

    
        &--orange {
            color: $orange;
        }

        @include mobile {
            margin-bottom: 3rem;
        }
    }

    &__icon {
        text-align: center;
        img {
            position: relative;
            border: 5px solid #efefef;
            border-radius: 10px;
        }
    }
}