@media screen and (max-width: 768px) {
  .menu-btn {
    width: 25px;
    height: 19px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    z-index: 15;
    cursor: pointer;
  }
  .menu-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: white;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .menu-btn__middle-bar {
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .menu-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: white;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  height: 80px;
  padding: 0.5rem calc((100vw - 1170px) / 2);
  background-image: linear-gradient(320deg, #fd6b17 60%, white 65%);
}

.navbar__logo {
  position: absolute;
  top: 0;
  text-decoration: none;
  overflow: hidden;
}

.navbar__logo img {
  margin: 0 20px;
  border-radius: 0 0 5px 5px;
}

.navbar__logo-text {
  float: right;
  margin-top: 15px;
  line-height: 1.3;
  color: #00445c;
  font-weight: 700;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
}

.navbar ul a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.navbar-menu {
  margin-top: 22px;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
}

.navbar-menu__links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
  text-transform: uppercase;
}

.navbar-menu__links--selected {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .navbar-menu--visible {
    display: block;
    background-color: #00445c;
    margin-top: 73px;
    height: 200px;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .navbar-menu--visible ul {
    margin-top: 10px;
  }
  .navbar-menu--visible ul li {
    display: list-item;
    text-align: center;
    line-height: 2.25rem;
  }
}

.hero__container {
  text-align: center;
}

.hero__picture {
  background-image: url(../images/hero.png);
  width: 100vw;
  height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-y: 150%;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 1086px) {
  .hero__picture {
    height: 250px;
  }
}

.hero__title {
  color: white;
  font-weight: 800;
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__title--orange {
  color: #fd6b17;
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 0.925rem;
  }
}

@media screen and (max-width: 560px) {
  .hero__title {
    font-size: 0.875rem;
  }
}
/*# sourceMappingURL=styles.css.map */