* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row__b-margin-until-medium {
  margin-bottom: 1rem;
}

.row--t-padding {
  padding-top: 80px;
}

@media screen and (min-width: 768px) {
  .row__b-margin-until-medium {
    margin-bottom: 0;
  }
  .row__medium-4 {
    float: left;
    width: 33.33%;
  }
  .row__medium-4--larger {
    width: 37%;
  }
  .row__medium-6 {
    float: left;
    width: 50%;
  }
  .row__medium-8 {
    float: left;
    width: 66.66%;
  }
  .row__medium-8--smaller {
    width: 63%;
  }
}

@media screen and (min-width: 1086px) {
  .row__b-margin-until-large {
    margin-bottom: 0;
  }
  .row__large-4 {
    float: left;
    width: 33.33%;
  }
  .row__large-4--larger {
    width: 37%;
  }
  .row__large-6 {
    float: left;
    width: 50%;
  }
  .row__large-8 {
    float: left;
    width: 66.66%;
  }
  .row__large-8--smaller {
    width: 63%;
  }
}

.row--gutters {
  margin-right: -65px;
}

.row--gutters > div {
  padding-right: 65px;
}

.row--gutters-large {
  margin-right: -100px;
}

.row--gutters-large > div {
  padding-right: 100px;
}

@media screen and (min-width: 1086px) {
  .row--equal-height-at-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.row--equal-height-at-large > div {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.wrapper .wrapper {
  padding-left: 0;
  padding-right: 0;
}

.wrapper--medium {
  max-width: 976px;
}

.wrapper--narrow {
  max-width: 470px;
}

.wrapper--b-margin {
  margin-bottom: 1rem;
}

@media screen and (min-width: 560px) {
  .wrapper--b-margin {
    margin-bottom: 3.875rem;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  height: 80px;
  padding: 0.5rem calc((100vw - 1170px) / 2);
  background-image: linear-gradient(320deg, #fd6b17 60%, white 65%);
}

.navbar__logo {
  position: absolute;
  top: 0;
  text-decoration: none;
  overflow: hidden;
}

.navbar__logo img {
  margin: 0 20px;
  border-radius: 0 0 5px 5px;
}

.navbar__logo-text {
  float: right;
  margin-top: 15px;
  line-height: 1.3;
  color: #00445c;
  font-weight: 700;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
}

.navbar ul a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.navbar-menu {
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
}

.navbar-menu__links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
  text-transform: uppercase;
}

.navbar-menu__links--selected {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .navbar-menu--visible {
    display: block;
    background-color: #00445c;
    margin-top: 72px;
    height: 220px;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .navbar-menu--visible ul {
    margin-top: 10px;
    display: inline;
  }
  .navbar-menu--visible ul li {
    display: list-item;
    text-align: center;
    line-height: 2.25rem;
  }
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  height: 39px;
  line-height: 20px;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-weight: 800;
  border: none;
  outline: none;
  color: white;
  text-transform: uppercase;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 20px;
  background-color: #fd6b17;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .dropdown-content {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #00445c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .dropdown-content a {
    text-align: center;
    line-height: 1.2rem;
  }
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  border-radius: 20px;
  background-color: #f1f1f2;
  color: #00445c;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  .menu-btn {
    width: 25px;
    height: 19px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 20px;
    z-index: 15;
    cursor: pointer;
  }
  .menu-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: white;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .menu-btn__middle-bar {
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .menu-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: white;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
}

.page-section {
  padding: 70px 0;
  height: auto;
}

.section-title {
  text-align: center;
  font-size: 3.25rem;
  text-transform: uppercase;
  color: #00445c;
  margin: 2.5rem 0;
}

.section-title--orange {
  color: #fd6b17;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.hero {
  display: block;
}

.hero__container {
  text-align: center;
}

.hero__picture {
  background-image: url(../images/hero.png);
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-y: 150%;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 1086px) {
  .hero__picture {
    height: 250px;
  }
}

.hero__title {
  color: white;
  font-weight: 800;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__title--orange {
  color: #fd6b17;
}

@media screen and (max-width: 1340px) {
  .hero__title h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__title h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1340px) {
  .hero__title {
    top: 12%;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    top: 13%;
  }
}

@media screen and (max-width: 560px) {
  .hero__title {
    font-size: 0.75rem;
    top: 15%;
    width: 90%;
  }
}

.home-intro {
  background-color: #f1f1f2;
  padding-bottom: 0;
}

.home-intro__tile {
  background-color: white;
  position: relative;
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .home-intro__tile {
    width: 100vw;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 768px) {
  .home-intro__tile {
    width: 100vw;
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1086px) {
  .home-intro__tile {
    margin-bottom: 85px;
    padding: 0 1.5rem 1px 1.5rem;
  }
}

.home-intro__tile__icon {
  text-align: center;
  height: 160px;
  margin: 0 auto -65px auto;
  position: relative;
  top: -65px;
}

.home-intro__tile__title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #00445c;
}

.home-intro__tile__subtitle {
  text-align: justify;
  text-justify: distribute;
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0.5rem;
  margin-bottom: 2.8125rem;
  text-justify: inter-word;
}

@media screen and (max-width: 1086px) {
  .home-intro__tile__subtitle {
    padding: 0 1rem;
  }
}

.home-intro__tile__subtitle--bullets {
  color: #fd6b17;
  font-size: 1.25rem;
  line-height: 0.8;
}

.home-intro__tile__expand-btn {
  text-decoration: none;
  color: white;
  background-color: #fd6b17;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -1.2rem;
  padding: 10px 15px;
}

@media screen and (max-width: 1086px) {
  .home-intro__tile--last-tile {
    margin-bottom: 80px;
  }
}

.home-intro::after {
  content: "";
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f1f1f2), to(white));
  background-image: linear-gradient(180deg, #f1f1f2 50%, white 100%);
  display: block;
  height: 100px;
  -webkit-clip-path: polygon(50% 0%, 80% 100%, 100% 100%, 0 100%, 20% 100%);
          clip-path: polygon(50% 0%, 80% 100%, 100% 100%, 0 100%, 20% 100%);
}

.our-training {
  padding-top: 0;
}

@media screen and (max-width: 560px) {
  .our-training {
    text-align: center;
  }
}

.our-training__subtitle {
  text-align: center;
  margin-bottom: 5rem;
  padding: 0.5rem 1rem;
  outline: #f1f1f2 1px solid;
}

.our-training__subtitle p {
  margin-bottom: 0;
}

.our-training__subtitle--orange {
  color: #fd6b17;
}

@media screen and (max-width: 560px) {
  .our-training__subtitle {
    margin-bottom: 3rem;
  }
}

.our-training__icon {
  text-align: center;
}

.our-training__icon img {
  position: relative;
  border: 5px solid #efefef;
  border-radius: 10px;
}

.training-item {
  position: relative;
  margin-bottom: 5rem;
}

.training-item p {
  line-height: 1.4;
}

@media screen and (min-width: 560px) {
  .training-item {
    padding-left: 94px;
  }
}

.training-item__icon {
  display: block;
  margin: 0 auto;
}

.training-item__icon img:last-child {
  display: none;
}

.training-item__icon:hover img:last-child {
  display: block;
}

.training-item__icon:hover img:first-child {
  display: none;
}

@media screen and (min-width: 560px) {
  .training-item__icon {
    position: absolute;
    left: 0;
  }
}

@media screen and (max-width: 560px) {
  .training-item__icon {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.training-item__title {
  padding-bottom: 1.8rem;
  color: #fd6b17;
  font-weight: 700;
}

.training-item__content {
  position: absolute;
  top: 50px;
  width: 450px;
  height: 90px;
  background-color: white;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1105px) and (min-width: 768px) {
  .training-item__content {
    top: 95px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .training-item__content {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .training-item__content {
    top: 190px;
  }
}

.training-item__content--expand {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  color: #00445c;
  border: 1px #00445c solid;
  text-transform: uppercase;
}

@media screen and (max-width: 1105px) and (min-width: 768px) {
  .training-item__content--expand {
    left: 30%;
    top: 30%;
  }
}

@media screen and (max-width: 768px) {
  .training-item__content--expand {
    left: 40%;
  }
}

@media screen and (max-width: 560px) {
  .training-item__content--expand {
    left: 50%;
  }
}

.training-item__content:hover {
  opacity: 1;
}

.map-location {
  position: relative;
}

.map-location__icon {
  position: absolute;
  top: -50px;
  z-index: 9;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.map-location__icon::before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 500px;
  background-color: #00445c;
  left: -210.5%;
  bottom: 50%;
  z-index: -1;
}

@media screen and (max-width: 560px) {
  .map-location__icon::before {
    width: 300px;
    left: -106.25%;
  }
}

.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00445c;
  min-height: 100%;
  height: 75px;
}

.footer__copyright {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  font-size: 0.875rem;
}

.footer__copyright p {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    max-width: 70%;
  }
}

@media screen and (max-width: 560px) {
  .footer__copyright {
    font-size: 0.8rem;
  }
}

.footer__logo {
  float: right;
}

.footer__logo img {
  width: 75px;
  height: 75px;
  border: 1px white solid;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

@media screen and (max-width: 560px) {
  .footer__logo img {
    width: 60px;
    height: 60px;
  }
}

.contact {
  padding-top: 5rem;
  background-color: #f1f1f2;
}

.contact__form__title {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fd6b17;
}

.contact__form__btn {
  background-color: #fd6b17;
  color: white;
  text-transform: uppercase;
  border-radius: 0%;
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
}

.contact__form__btn:hover {
  background-color: #00445c;
  color: white;
}

.contact__info {
  padding-left: 2rem;
  font-size: 0.925rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .contact__info {
    padding-left: 0;
    margin-top: 2rem;
  }
}

.contact__info svg {
  margin-right: 1rem;
}

.contact__info__title {
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
  color: #fd6b17;
}

.contact__info__details {
  line-height: 2;
  margin-bottom: 3rem;
}

.contact__info__social-media svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: 2rem;
  color: #00445c;
}

.contact__info__social-media svg:hover {
  cursor: pointer;
  color: #fd6b17;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1086px) {
  .contact__info__social-media {
    margin-top: -15px;
  }
}

@media screen and (max-width: 768px) {
  .contact__info__social-media {
    text-align: center;
  }
}

.form-control {
  padding: 8px 12px;
  background-color: #f1f1f2;
}

.form-control::-webkit-input-placeholder {
  font-size: 0.9rem;
}

.form-control:-ms-input-placeholder {
  font-size: 0.9rem;
}

.form-control::-ms-input-placeholder {
  font-size: 0.9rem;
}

.form-control::placeholder {
  font-size: 0.9rem;
}

.form-control:focus {
  outline: none !important;
  background-color: #f1f1f2;
  border-color: #fd6b17;
  -webkit-box-shadow: 0 0 2px #fd6b17;
          box-shadow: 0 0 2px #fd6b17;
}

.news {
  padding-top: 4rem;
  background-color: #f1f1f2;
}

.news__tile {
  background-color: white;
  margin-bottom: 4rem;
}

.news__tile__expand-btn {
  text-decoration: none;
  color: white;
  background-color: #fd6b17;
  border-radius: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -1.2rem;
  padding: 5px 25px;
}

.news__tile__expand-btn:hover {
  background-color: #00445c;
  color: white;
}

.training {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f1f1f2;
}

.training__nav {
  position: absolute;
  top: 100px;
  color: white;
}

.training__logo {
  margin-right: 1rem;
}

.training__title {
  color: #00445c;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.training__content {
  text-align: justify;
}

.training__content--orange {
  color: #fd6b17;
}

.training__content--right-padding {
  padding-right: 5rem;
}

@media screen and (max-width: 1086px) {
  .training__content {
    font-size: 0.8rem;
  }
}

.training__img {
  padding-top: 1rem;
  padding-left: 4rem;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .training__img {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .training__img {
    padding-left: 0;
  }
}

/* Tabs */
.tabs {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5rem;
  height: auto;
  position: relative;
}

.tabs::before {
  content: "";
  display: block;
  background-color: #f1f1f2;
  height: 27px;
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: -1;
}

.tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .tabs__header {
    display: block;
  }
}

.tabs__heading {
  text-transform: capitalize;
  font-weight: 800;
  text-align: center;
  color: #00445c;
  background-color: #f1f1f2;
  border: 5px solid white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 30px;
}

.tabs__heading:nth-child(1) {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .tabs__heading {
    margin-left: 0;
  }
}

.tabs__heading:hover {
  background-color: white;
  color: #fd6b17;
}

.tabs__heading.is-active {
  background-color: white;
  color: #fd6b17;
}

.tabs__content {
  background-color: white;
  display: none;
}

.tabs__content.is-active {
  display: block;
}

.course-list ul {
  list-style: none;
  /* Remove default bullets */
  -webkit-columns: 2;
          columns: 2;
}

.course-list ul li::before {
  content: "\203A";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #00445c;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
  margin-right: 1em;
  /* Also needed for space (tweak if needed) */
}

.course-list__title {
  color: #fd6b17;
  margin-bottom: 2rem;
}

.course-list__list-item {
  text-decoration: none;
  line-height: 3;
  color: #00445c;
}

.course-list__list-item:hover {
  color: #fd6b17;
}
/*# sourceMappingURL=styles.css.map */